.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.renderedAnimals-list{
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin: 0.5rem;
}

button {
  padding: 10px;
  width: 30%;
  background-color: lightgreen;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1rem;
}